.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(242, 243, 245, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.dark {
  background: rgba(0, 0, 0, 0.8);
}

.container {
  width: 108%;
  max-width: 480px;
  padding-top: 2rem;
  padding-bottom: 0rem;
  border-radius: 5px;
  box-shadow: 0 8 68px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;

  background-color: var(--white);
}

.dark .container {
  background-color: var(--background-dark);
}

.container header {
  background: url("/icons/levelup.svg") no-repeat center;
  background-size: contain;
  margin-bottom: 1rem;
}

.container header span {
  font-size: 8.75rem;
  font-weight: 600;
  color: var(--blue);
}

.container strong {
  font-size: 2.25rem;
  color: var(--text);
  margin-top: 0.25rem;
}

.dark .container strong {
  color: var(--blue);
}

.container p {
  font-size: 1.25rem;
  color: var(--text);
  margin-top: 0;
}

.dark .container p {
  color: var(--white);
}

.container button.closeLevelUpModal {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;
  font-size: 0px;
}
.container button.shareOnTwitter {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;

  color: var(--blue-twitter);
  background: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--gray-line);
}

.dark .container button.shareOnTwitter {
  background: var(--background-dark);
  border-color: var(--background-container-dark);
}

.container button.shareOnTwitter svg {
  margin-left: 1rem;
}

.container button.shareOnTwitter:hover {
  color: var(--white);
  background: var(--blue-twitter);
}
